[
%% lager日志库配置
  {lager, [
    {colored, true},
    {log_root, "./log"},
    %% Any other sinks
    {extra_sinks,
      [
        {ta_logger_lager_event,
          [
            {handlers, [
              {lager_file_backend, [
                {file, "ta/ta.log"},
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [message, "\n"]},
                {size, 10485760}, %% 10Mb
                {rotator, ta_lager_rotator} %% 自定义日志轮转
              ]}
            ]},
            {async_threshold, 500},
            {async_threshold_window, 50}
          ]
        }
      ]
    }
  ]}
].